*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}
body{
    font-family:ubuntu,arial;
}

.gallery{
    position:relative;
    min-height:100vh;
}
.gallery .title{
    position:absolute;
    top:95%;
    left:5%;
    transform:rotate(-90deg);
    transform-origin:0 0;
}
.gallery h1{
    font-size:60px;
    background-color:black;
    color:yellow;
    padding: 10px 20px;
    margin-bottom:15px;
}
.gallery .images{
    display:flex;
    flex-wrap:wrap;
    position:absolute;
    top:5%;
    right:5%;
    height:90%;
    width:60%;
    align-content:space-around;
    
}
.gallery a{
    position:relative;
    overflow: hidden;
    box-shadow:0 0 3px 3px gray;
    flex-basis:calc(50% - 40px);
    margin:0 20px;
    background-color:black;
    height:20%;
    
   
}

img{
    position:absolute; 
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    min-width:100%;
    min-height:100%;
    
}